.update-note-modal {
  font-family: "Poppins", sans-serif;
  padding: 1.5rem;
  width: 580px;
  height: 500px;
  background: white;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  z-index: 1001;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dimming effect */
  z-index: 1000; /* Ensure it sits below the modal */
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.modal-header h2 {
  font-size: 1.25rem;
  color: #2689b0;
}
.editIco {
  vertical-align: middle;
  align-items: center;
}

.categories-area-updateNoteModal {
  margin-top: 0.6rem;
}

.categories-list-updateNoteModal {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.6rem;
}

.category-tag {
  padding: 0.5rem 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
  background: #f7fafc;
  cursor: pointer;
  font-size: 0.875rem;
}

.category-tag.selected {
  background: #3182ce;
  color: white;
  border-color: #3182ce;
}

.close-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-body {
  margin-top: 1.5rem;
}

.input-label {
  font-size: 0.8125rem;
  font-weight: 900;
  color: #4e9bbe;
  justify-content: flex-start;
  display: flex;
  margin-left: 2px;
}

.input-field {
  margin-top: 0.25rem;
  outline: none;
  display: flex;
  width: 94%;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 0.8rem;
  border: 1px solid #d2d6dc;
  margin-bottom: 10px;
}

.input-field:focus {
  height: 2.5rem;
  font-size: 0.8rem;
  border: 1px solid #9abbc1;
  border-radius: 0.375rem;
  padding: 0.75rem;
}

.textarea-field {
  display: flex;
  padding: 0.75rem;
  margin-top: 0.25rem;
  outline: none;
  border-radius: 0.375rem;
  width: 94%;
  resize: none;
  height: 7rem;
  font-size: 0.8rem;
  border: 1px solid #d2d6dc;
}

.textarea-field:focus {
  padding: 0.75rem;
  margin-top: 0.25rem;
  outline: none;
  border-radius: 0.375rem;
  width: 94%;
  resize: none;
  height: 7rem;
  font-size: 0.8rem;
  border: 1px solid #9abbc1;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.save-button {
  padding: 0.375rem 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid rgb(255, 149, 0);
  background-color: rgb(129, 205, 208);
  font-size: 0.75rem;
  color: white;
  cursor: pointer;
}

.cancel-button {
  padding: 0.375rem 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid #e0e0e0;
  background-color: #e18c8c;
  color: #efeeee;
  font-size: 0.75rem;
  margin-left: 1rem;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #d27676;
}

.save-button:hover {
  background-color: rgb(84, 174, 177);
}
