* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.login-form-container {
  width: 400px;
  height: 420px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 100px;
  position: relative;
}
.loginForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  box-shadow: 2px 2px 4px rgba(27, 183, 218, 0.393);
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  border: 1px solid rgb(154, 153, 153);
}
.formAvatar {
  position: absolute;
  width: 100px;
  height: 90px;
  overflow: hidden;
  top: -40px;
  left: 200px;
}

.loginTitle {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.logTitle {
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 9px #aeaeae;
  font-size: 25px;
  color: #106b99ef;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.loginIcon {
  display: flex;
  font-size: 30px;
  margin-right: 5px;
  padding-bottom: 5px;
  align-items: center;
}
.loginIcon > svg {
  animation: pulse 3s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.loginIcon::before,
.loginIcon::after {
  display: none;
}

.message,
.signin, .forgotPassword {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  text-align: center;
}

.message {
  margin-top: 10px;
  margin-bottom: 20px;
}

.loginFormLabel {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  align-self: baseline;
  color: #106b99ef;
}
.inputIcon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: -140px; 
  top: 50%;
  transform: translateY(-50%);
  bottom: 12px;
}

.formLoginInput {
  width: 300px;
  display: block;
  border-radius: 8px;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  font-size: 14px;
  height: 50px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.formLoginInput:focus {
  border: 1px solid rgb(0, 204, 255);
  padding-right: 0;
  height: 50px;
  border-radius: 7px;
}

.form-btn {
  width: 130px;
  text-align: center;
  color: white;
  background-color: #106b99ef;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 9px;
  margin-top: 15px;
  margin-bottom: 20px !important;
  margin: 10px auto;
  border: none;
  outline: none;
  cursor: pointer;
  transform: 0.3s ease;
}
.form-btn:hover {
  background-color: #1887beef;
}
.form label .form-input {
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 8px;
}

.form label .form-input + span {
  position: absolute;
  left: 40px;
  top: 35px;
  font-size: 0.7em;
  font-weight: 600;
  color: rgba(52, 119, 52, 0.674);
  cursor: text;
  transition: 0.3s ease;
}

.form label .form-input:placeholder-shown + span {
  top: 15px;
  font-size: 0.7em;
}
.form label .form-input:focus + span,
.form label .form-input:valid + span {
  top: 35px;
  left: 40px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .form-input:valid + span {
  color: rgba(52, 119, 52, 0.674);
}
.note {
  font-size: 0.75rem;
  color: #8b8e98;
  margin: 0 auto;
  margin-top: 10px !important;
  text-decoration: underline;
}

.password,
.form-password-note {
  margin-top: 20px !important;
  text-align: center;
}
.form-password-input {
  width: 300px;
  display: inline-block;
  margin-top: 20px !important;
  margin-left: 10px !important;
  margin-bottom: 20px !important;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--gray-color);
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 520px) {
  .loginForm  {
    width: 80%;
  }
  .formLoginInput {
    width: 80%;
  }
  .signin {
    font-size: 12px !important;
  }
}
@media (max-width: 380px) {
  .loginForm  {
    width: 70%;
    margin-left: 20px;
  }
  .formAvatar{
    left: 150px !important;
  }
}
@media (max-width: 280px) {
  .loginForm  {
    width: 60%;
    margin-left: 5px;
  }
 
}

